doctype html
html(lang="pt-br")
  head
    title Feijoada Starter Kit
  body
    h1 Feijoada Starter Kit
    p#jeet Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    script(src='/bundle.js')
